
@{
    ViewData["Title"] = "Index";
}

<div class="home">
    <div class="container">
        <div class="content">
            <h2>Welcome to Spotify Searcher</h2>

            <a class="btn signin" asp-action="SignIn" asp-controller="Auth">Sign In</a>
        </div>
    </div>
</div>
