
@{
    ViewData["Title"] = "Spa";
}

<div class="spa centerer">
    <form asp-action="SignOut" asp-controller="Auth" class="sign-out-form">
        <a href="javascript:document.forms[0].submit()" class="btn btn-warning">Sign out</a>
    </form>

    <form class="search-form form-inline">
        <input type="text" placeholder="Search" class="form-control form-control-lg" autofocus />
        <button id="btnSearch" class="btn btn-lg btn-primary ml-2" disabled>Search</button>
    </form>
</div>

<script src="/spa-config.js"></script>
<script src="/app.bundle.js"></script>

