@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes bounceIn {
    0% { transform: scale(.3,.3); }
    50% { transform: scale(1.1,1.1); }
    70% { transform: scale(.9,.9); }
    80% { transform: scale(1.05,1.05); }
    90% { transform: scale(.97,.97); }
    100% { transform: scale(1,1); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes bounceOut {
    40% { transform: scale(1.1,1.1); }
    100% { transform: scale(0,0); }
}